body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
header {
  background-color: #ff5733;
  color: white;
  padding: 20px;
  text-align: center;
  justify-items: center;
}
#container-nav{
  justify-items: center;
}
button{
  margin: 7px;
}
nav {
  display: flex;
  text-align: center;
  background-color: #ff6f4f00;
  padding: 10px;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #f0f0f0;
}
section.menu {
  padding: 20px;
  text-align: center;
}
section.menu h2 {
  color: rgb(255, 87, 51);
}
.menu-item {
  display: inline-block;
  margin: 10px;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}
.menu-item img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.back{
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100vh;
}
.order-button {
  background-color: #f1faee;
  background-color: #f84c08;
  border: none;
  margin: 4px;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.order-button:hover {
background-color: #d6450b;
}

.a-item{
  padding: 6px;
}